body {
    width: 100%;
    box-sizing: border-box;
}

.all-cars-here {
    width: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 200px 1fr 50px;
    grid-template-areas: 'head head' 'aside aside' 'main main' 'buttons buttons';
}

@media(min-width:720px) {
    .all-cars-here {
        // grid-template-areas: 'head head' 'aside main' 'main main' 'buttons buttons';
        justify-content: space-between;
    }
}