body {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100px 200px 1fr 50px;
    grid-template-areas: 'head head' 'aside aside' 'main main' 'buttons buttons';
}

@media(min-width:720px) {
    body {
        grid-template-areas: 'head head' 'aside main' 'aside main' 'buttons buttons';
    }
}