.buttons {
    width: 100%;
    grid-area: buttons;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    & button {
        width: 50px;
        height: 90%;
        background-color: rgb(212, 240, 199);
        color: white;
        border-radius: 10px;
    }
}