.header-home {
    grid-area: head;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    grid-template-areas: 'h bar' ' settings settings';
    & h3 {
        grid-area: h;
        margin-left: 5%;
    }
    & .searching-bar {
        margin-bottom: 30px;
        grid-area: bar;
        align-self: center;
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    & button {
        background-color: rgb(212, 240, 199);
        border-radius: 10px;
        color: white;
        border: none;
    }
    & input {
        width: 60%;
        border-radius: 10px;
    }
    & .settings {
        @include flexy(flex, row, none, space-around, center);
        grid-area: settings;
    }
    & svg {
        width: 20px;
        height: 20px;
    }
}

@media(min-width:720px) {
    .header-home {
        grid-template-areas: 'h settings' ' bar bar';
    }
}