    @import '../components/most-used';
    .main-home {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas: "pres pres" "most most";
        & .present {
            grid-area: pres;
            width: 80%;
            margin: auto;
        }
        & h2 {
            margin-top: 0px;
        }
    }
    
    @media(min-width:720px) {
        .main-home {
            grid-template-areas: "most pres" "most pres";
        }
    }