@import '../components/most-used';
main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "most present" "most present";
    & & .present {
        grid-area: pres;
    }
}