.car {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 0.7fr 50px 50px 50px;
    grid-template-areas: 'img1 img1' 'den svg' 'ti ti' 'offer offer';
    background-color: rgb(212, 240, 199);
    grid-gap: 10px;
    width: 40%;
    height: 50%;
    margin: auto;
    margin-top: 25px;
    position: relative;
    border-radius: 20px;
    & h3 {
        grid-area: den;
        text-align: center;
        margin: 0px;
    }
    & img {
        grid-area: img1;
        position: absolute;
        bottom: 0px;
        left: 20px;
        width: 200px;
    }
    & p {
        grid-area: ti;
        margin: auto;
    }
    & .offer {
        grid-area: offer;
        width: 18%;
        height: 40px;
        margin: auto;
        border-radius: 10px;
        text-align: center;
        border-bottom-right-radius: 25px;
        position: absolute;
        bottom: -30px;
        right: 10px;
        background-color: black;
        color: white;
    }
    & svg {
        grid-area: svg;
        width: 20px;
        height: 20px;
        margin: auto;
        align-self: center;
    }
}