div {
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    grid-template-rows: 100px 0.5fr 1fr;
    grid-template-areas: 'head ' 'aside' 'main';
    grid-gap: 70px;
    box-sizing: border-box;
}